img{
    width: 100%;
}

.hr{
    width: 80px;
    height: 2px;
    background-color: white;
    margin: auto 0;
}

#portfolio .hr,
#contact-me .hr{
    color: black;
    background-color: black;
}

/* HEADER */

#header{
    background-color: rgb(44, 61, 80);
    color: white
}

/* START-BOOTSTRAP */

#start-bootstrap .img-container{
    max-width: 300px;
    margin: 0 auto;
}


/* START-BOOTSTRAP ** & ** ABOUT */ 

#start-bootstrap,
#about{
    background-color: rgb(26, 188, 156);
    color: white
}

/* CONTACT ME */

.btn-color{
    background-color: rgb(26, 188, 156);
    color: white;
}

/* FOOTER */

#info{
    background-color: rgb(57, 84, 109);
    color: white;
}

#footer-bottom{
    background-color: rgb(44, 61, 80);
    color: white;
}




